'use strict'

const pon = require('pon')
const ~~~~package_name@camelcase~~~~ = require('~~~~package_name~~~~')

;(async () => {
  let run = pon({
    myTask01: ~~~~package_name@camelcase~~~~()
  })

  run('myTask01')
}).catch((err) => console.error(err))
