{
  "default": {
    "STORAGE": "var/storage/~~~~package_name~~~~.json",
    "DIALECT": "json"
  },
  "production": {
    "HOST": "localhost",
    "DIALECT": "mysql",
    "USERNAME": "~~~~package_name@cramcase~~~~",
    "PASSWORD": "~~~~package_name@cramcase~~~~",
    "ROOT_USERNAME": "root"
  },
  "test": {
    "DIALECT": "sqlite",
    "STORAGE": "var/storage/~~~~package_name~~~~.db"
  }
}