{
  "default": {
    "DATABASE": "~~~~package_name@cramcase~~~~_dev",
    "DIALECT": "mysql",
    "HOST": "localhost",
    "PASSWORD": "~~~~package_name@cramcase~~~~_dev",
    "PORT": "#{Local.MYSQL_CONTAINER_PORT}",
    "ROOT_PASSWORD": "root",
    "ROOT_USERNAME": "root",
    "USERNAME": "~~~~package_name@cramcase~~~~_dev"
  },
  "production": {
    "DATABASE": "~~~~package_name@cramcase~~~~",
    "DIALECT": "mysql",
    "HOST": "localhost",
    "PASSWORD": "~~~~package_name@cramcase~~~~",
    "PORT": "#{Local.MYSQL_CONTAINER_PORT}",
    "ROOT_PASSWORD": "root",
    "ROOT_USERNAME": "root",
    "USERNAME": "~~~~package_name@cramcase~~~~"
  },
  "test": {
    "DIALECT": "sqlite",
    "STORAGE": "var/storage/~~~~package_name~~~~.db"
  }
}