'use strict'

const {dir} = require('the-templates')

module.exports = dir({
  dirname: __dirname,
  name: 'wrappers',
  description: 'HOC Wrappers',
  ext: '.jsx',
})

if (!module.parent) {
  require('coz').render(__filename)
}