'use strict'

const { dir } = require('the-templates')

module.exports = dir({
  dirname: __dirname,
  name: 'layouts',
  description: 'Layout Components'
})

if (!module.parent) {
  require('coz').render(__filename)
}