'use strict'

const { dir } = require('the-templates')

module.exports = dir.recursive({
  dirname: __dirname,
  name: 'fragments',
  description: 'Fragment components'
})

if (!module.parent) {
  require('coz').render(__filename)
}