/**
 * Bud file for fragment components
 */
'use strict'

module.exports = [
  // Names to generate
].map((name) => ({
  force: false,
  mode: '644',
  path: `${name}.jsx`,
  data: {
    name
  }
}))

if (!module.parent) {
  require('coz').render(__filename)
}

