Signatures
---------

{{#each vars.funcs}}

### `{{{signature}}}`

{{{description}}}

| Param | type | Description |
| ---- | --- | ----------- |
{{#each params}}| {{name}} | {{type}} | {{{description}}} |
{{/each}}

{{/each}}
