[
  "abind",
  "argx",
  "asleep",
  "classnames",
  "core-js",
  "core-js/library",
  "core-js/shim",
  "debug",
  "fbjs",
  "objnest",
  "prop-types",
  "qs",
  "react",
  "react-dom",
  "react-dom/server",
  "react-redux",
  "react-router-dom",
  "react-transition-group",
  "redux",
  "the-array",
  "the-check",
  "the-components",
  "the-date",
  "the-decorators",
  "the-error",
  "the-loc",
  "the-site-components",
  "the-site-util",
  "the-store",
  "the-url",
  "the-window"
]