/**
 * Bud file for mappings
 */
'use strict'

const {camelcase} = require('stringcase')
const path = require('path')
const aglob = require('aglob')
const {mapping} = require('the-templates')

module.exports = [
  {
    name: 'SceneMapping',
    requirePath: '../scenes',
    requireAs: 'sc',
    mapping: aglob.sync(`${__dirname}/../scenes/*Scene.js`)
      .map((filename) => path.basename(filename, '.js'))
      .map((name) => ({
        instanceName: camelcase(name),
        className: name
      })),
    cjs: true
  }
].map(mapping)

if (!module.parent) {
  require('coz').render(__filename)
}