/**
 * Bud file for theme.css
 */
'use strict'

const {TheThemeStyle} = require('the-theme-style')
const {Styles} = require('../../conf')

module.exports = {
  force: true,
  mode: '444',
  data: {
    css: TheThemeStyle.cssString({
      dominantColor: Styles.DOMINANT_COLOR
    })
  },
  tmpl: `/** App Theme Style */

{{{css}}}  
`
}

if (!module.parent) {
  require('coz').render(__filename)
}
