/**
 * ~~~~package_description~~~~
 * @module ~~~~package_name~~~~
 * @version 1.0.0
 */

'use strict'

const create = require('./create')
const Define = require('./define')

let lib = create.bind(this)

Object.assign(lib, Define, {
  create,
  Define
})

module.exports = lib
