/**
 * {{pascalcase name}} component
 */
'use strict'

import React from 'react'

const {{pascalcase name}} = ({}) => (
  <div className='{{spinalcase name}}'>

  </div>
)

export default {{pascalcase name}}
