'use strict'

const { dir } = require('the-templates')

module.exports = dir({
  dirname: __dirname,
  name: 'views',
  description: 'View components'
})


if (!module.parent) {
  require('coz').render(__filename)
}