'use strict'

const {dir} = require('the-templates')

module.exports = dir.recursive({
  dirname: __dirname,
  name: 'views',
  description: 'View components',
  ext: '.jsx',
})

if (!module.parent) {
  require('coz').render(__filename)
}