'use strict'

const path = require('path')
const {View} = require('the-templates')

module.exports = [].reduce((buds, name) => {
  return [
    ...buds,
    View({name}),
    {
      force: false,
      mode: '644',
      mkdirp: true,
      tmpl: `
.self {

}`,
      path: `${name}.pcss`,
      data: {name}
    }
  ]
}, [])

if (!module.parent) {
  require('coz').render(__filename)
}