/**
 * {{pascalcase name}} component
 */
'use strict'

import React from 'react'
import { TheView } from 'the-components'
import { asView } from '../wrappers'
import style from './{{pascalcase name}}.pcss'

class {{pascalcase name}} extends React.Component {
  constructor (props) {
    super(props)
    const s = this
  }

  render () {
    const s = this
    const { props } = s
    return (
      <TheView className={style.self}>
        <TheView.Header icon={null}
                        text={null}
        />
        <TheView.Body>
        This is {{pascalcase name}}!
        </TheView.Body>
      </TheView>
    )
  }

  componentDidMount () {
  }

  componentWillUnmount () {
  }
}

export default asView({{pascalcase name}})
