language: node_js
services:
- docker
- mongo
node_js:
- '10.0'
before_install:
- echo "//registry.npmjs.org/:_authToken=${NPM_TOKEN}" > .npmrc
- npm install publish-if-needed npm@latest pm2 pon jsdoc -g
install:
- npm install
script:
- pon prepare
- pon build
after_success:
- publish-if-needed
env:
  global:
  - secure: gNYS1h6KidtzKjyXWyKdW0cGX4lyvBGWyLg8YznalzFSj1o/kTdNQ/ghu0Lg2BfKYYCchvs6eXqlVMy/lJbk0st5SqLSgaHAGsAlxet1CBR2PgOy1t3zspekxyYtqwgZj/wOWqH8PbFodtuBnTVVHypwViGVo3BR5/kPCTbXNJOxSC7pcd2j/+2F0rTQ2ABoBh1XHfinRFF797+lV119RJTfMQ+XGxGVdooXl9pmVqqsTQpSQ27dBP2dY41iI0g4BKMnR4MYo90pkZV/TyhPMfvWBS6yZLWRvuGZiIBRxjwgvVInXmABN8DbP6jR28ycjb0h5UO/z/jmTUrzZDHdqZZ19VBjytlTBFNwJQyYcXhEyQWEQ/GyBEM2QHwKXEI43SacJdxVtwjSfKDtSDewO5NpgIm3BwCpZkaLWND30rRs1gW7x/qpLzRhiHl8bFS8z0eV0h9rA9omYeuwGbd0Ls9o1Z8n0dYIaObrYBFRy01yHX7nZ/vltEleC3NtvXFRWWdn51T3V4mwVEK7ttnQ7sxUBL/TDZmrZtFmlcgWdD0KGBZCBfnCs7Z08CE7h27cx1hYwTc4M48kIBmQecTLK+aGd7TRPFQGxOTgsTrL/sC4dg0Tek7Mp/FDMxvSDQGf25sxsWh+U3gTvJ8bDBZDzc/LCoDzc19/hYDs0ajIjY4=
