language: node_js
services:
- docker
node_js:
- '8'
before_install:
- npm install pm2 pon jsdoc -g
- npm i npm-cli-login -g
- npm-cli-login -u "${NPM_USER}" -p "${NPM_PASSWORD}" -e "${NPM_EMAIL}"
- rm -rf var
install:
- npm install
script:
- pon prepare
- pon build
after_success:
- ./misc/travis/publish.js
env:
  secure: "yMnOq7ZPG7U10/uTK6TsTclnWLXv2VGlWhv89GAyyawrXESAEf/2IJx0i3JcF6mDkQmUYfDAt9ltBEuYaYRTzwPaV5IMabADLlzq8kGlHIX84M5XWwBVwdy0KvCKVcEYU3KJDNVxK+FsOCu2i7sP3pIcsB9uhC2FQ728x4koDRJzhK5C80YUacdpbxECrnqiHboEkYLbqleqmGEjNwjPnXWMeXFx/levPX18D3nBfpi8KkNFS4iBrO3C4/Wxmkyv1AoSBaDL35jgSo8E2m5UQDIPjt7VsqG1iGIdCLNM8Mwh6aPcSWIpFThxwzKyu7dTXoEycfNvdEgQEXLlypt09c9TlOaZxHlkjJkpXfvVCtR3baxabsbYs1+cTmM1W8YwlwaqvAh12sLPgNucP4md+h5E928FgObHvwlNhQjS6TWih83LiVd0T5W9Z2iFIlL9ddWLwkMDOaGvxp9KDdQNcP8nC8lUq7tfslelZYmIW+OOt4liBY7CrL3WxRbdE6IFty3En6lLUZMC+bqZJF5aEUtAugPK06W0bdONaNA8nIQZvjocMFScpvErbIQTc4YuP/Q1zbraWW0aLzNMQrsWLECZ1P6Nn/4ww2t8bmmitje7BOmKFU/lUM4Sqf+fyvR3M1M2dNDjn12ThLMfgAdJQJRdOsuuxczFqUbmrXlui3g="
