{
  "name": "~~~~package_name~~~~",
  "version": "1.0.0",
  "description": "~~~~package_description~~~~",
  "main": "lib",
  "scripts": {
    "build": "pon build",
    "debug": "pon debug",
    "prepare": "pon prepare",
    "restart": "pon restart",
    "share": "the-script-share",
    "start": "pon start",
    "stop": "pon stop",
    "test": "pon test",
    "update": "the-script-update"
  },
  "repository": "~~~~github_repository~~~~",
  "keywords": [
    "Pon"
  ],
  "author": {
    "name": "~~~~author_name~~~~",
    "email": "~~~~author_email~~~~",
    "url": "~~~~author_url~~~~"
  },
  "license": "Apache-2.0",
  "bugs": {
    "url": "https://github.com/~~~~github_repository@spinalcase~~~~/issues"
  },
  "homepage": "https://github.com/~~~~github_repository@spinalcase~~~~#readme",
  "dependencies": {
    "ape-tmpl": "^6.0.2",
    "asleep": "^1.0.3",
    "coz": "^7.0.1",
    "history": "^4.7.2",
    "mocha": "^5.0.1",
    "pon": "^5.0.1",
    "pon-task-basic": "^4.0.1",
    "pon-task-db": "^2.0.1",
    "pon-task-docker": "^2.0.1",
    "pon-task-es": "^4.1.4",
    "pon-task-icon": "^1.0.1",
    "pon-task-pm2": "^2.0.1",
    "pon-task-web": "^6.0.7",
    "prop-types": "^15.5.10",
    "react": "^16.0.0",
    "react-dom": "^16.0.0",
    "react-router-dom": "^4.2.2",
    "the-assets": "^2.1.0",
    "the-check": "^1.1.1",
    "the-client": "^5.1.5",
    "the-component-mixins": "^1.3.14",
    "the-components": "^6.0.30",
    "the-controller-base": "^4.0.4",
    "the-date": "^1.4.0",
    "the-db": "^9.3.15",
    "the-decorators": "^1.0.0",
    "the-entrypoint": "^1.0.1",
    "the-env": "^2.0.4",
    "the-handle": "^2.0.8",
    "the-loc": "^2.1.6",
    "the-polyfill": "^1.1.1",
    "the-ps": "^1.0.9",
    "the-scene-base": "^2.1.1",
    "the-scene-mixins": "^1.5.26",
    "the-scope": "^2.1.1",
    "the-seal": "^2.0.1",
    "the-seat": "^2.0.1",
    "the-secret": "^2.0.3",
    "the-server": "^4.1.2",
    "the-service-base": "^1.0.3",
    "the-setting": "^2.0.1",
    "the-site-components": "^3.0.4",
    "the-site-util": "^1.7.7",
    "the-store": "^5.4.6",
    "the-templates": "^3.1.3",
    "the-window": "^6.0.1"
  },
  "devDependencies": {
    "eslint": "^4.8.0",
    "pon-task-dev": "^1.0.1",
    "pretty-exceptions": "^1.3.2",
    "sqlite3": "^3.1.13",
    "sugos-travis": "^2.0.7",
    "the-code": "^3.7.1",
    "the-lint": "^1.7.0",
    "the-script-release": "^1.0.6",
    "the-script-share": "^1.0.5",
    "the-script-update": "^1.0.0",
    "the-seed": "^2.0.5"
  },
  "engines": {
    "node": ">=8",
    "npm": ">=4"
  }
}