{
  "name": "~~~~package_name~~~~",
  "version": "1.0.0",
  "description": "~~~~package_description~~~~",
  "main": "lib",
  "scripts": {
    "build": "pon build",
    "debug": "pon debug",
    "preinstall": "node ./misc/scripts/no_more_yarn.js",
    "prepare": "pon prepare",
    "restart": "pon restart",
    "share": "the-script-share",
    "start": "pon start",
    "stop": "pon stop",
    "test": "pon test",
    "update": "the-script-update"
  },
  "repository": "~~~~github_repository~~~~",
  "keywords": [
    "Pon"
  ],
  "author": {
    "name": "~~~~author_name~~~~",
    "email": "~~~~author_email~~~~",
    "url": "~~~~author_url~~~~"
  },
  "license": "Apache-2.0",
  "bugs": {
    "url": "https://github.com/~~~~github_repository@spinalcase~~~~/issues"
  },
  "homepage": "https://github.com/~~~~github_repository@spinalcase~~~~#readme",
  "dependencies": {
    "asleep": "^1.0.3",
    "coz": "^7.0.2",
    "pon": "^5.2.11",
    "pon-task-basic": "^4.2.2",
    "pon-task-changelog": "^2.0.4",
    "pon-task-db": "^2.3.17",
    "pon-task-docker": "^3.1.12",
    "pon-task-es": "^5.0.8",
    "pon-task-icon": "^1.0.1",
    "pon-task-pm2": "^2.2.7",
    "pon-task-web": "^8.3.4",
    "prop-types": "^15.6.2",
    "react": "^16.5.2",
    "react-dom": "^16.5.2",
    "react-router-dom": "^4.3.1",
    "the-assets": "^2.5.0",
    "the-bin": "^1.4.6",
    "the-check": "^2.0.10",
    "the-client": "^11.2.11",
    "the-component-mixins": "^3.0.53",
    "the-components": "^8.1.3",
    "the-controller-base": "^4.0.12",
    "the-date": "^3.0.15",
    "the-db": "^9.5.28",
    "the-decorators": "^1.0.2",
    "the-entrypoint": "^2.3.4",
    "the-env": "^3.0.5",
    "the-handle": "^4.0.17",
    "the-loc": "^4.0.4",
    "the-polyfill": "^2.0.8",
    "the-ps": "^1.0.14",
    "the-run": "^1.0.10",
    "the-scene-base": "^2.1.15",
    "the-scene-mixins": "^1.6.29",
    "the-scope": "^2.2.2",
    "the-seal": "^3.0.0",
    "the-seat": "^3.0.1",
    "the-secret": "^2.2.0",
    "the-server": "^11.2.0",
    "the-service-base": "^1.0.4",
    "the-setting": "^3.0.5",
    "the-site-components": "^3.0.26",
    "the-site-util": "^2.0.1",
    "the-store": "^7.1.1",
    "the-templates": "^5.0.1",
    "the-window": "^7.0.1"
  },
  "devDependencies": {
    "@babel/runtime": "^7.1.2",
    "eslint": "^5.7.0",
    "git-hooks": "^1.1.10",
    "pon-task-dev": "^1.0.1",
    "sqlite3": "^4.0.2",
    "the-code": "^4.0.5",
    "the-lint": "^1.7.5",
    "the-script-release": "^1.0.6",
    "the-script-share": "^1.0.5",
    "the-script-update": "^2.0.0",
    "the-seed": "^2.0.9",
    "the-support": "^2.0.0"
  },
  "engines": {
    "node": ">=10",
    "npm": ">=6"
  }
}