'use strict'

const { dir } = require('the-templates')

module.exports = dir({
  dirname: __dirname,
  node: true,
  name: 'controllers',
  description: 'Server controllers'
})

if (!module.parent) {
  require('coz').render(__filename)
}