'use strict'

const { dir } = require('the-templates')

module.exports = dir.recursive({
  dirname: __dirname,
  cjs: true,
  name: 'controllers',
  description: 'Server controllers',
  ignore: ['concerns/*.js']
})

if (!module.parent) {
  require('coz').render(__filename)
}