/**
 * Bud file for mappings
 */
'use strict'

const c = require('../controllers')
const r = require('../db/resources')

const {camelcase} = require('stringcase')

module.exports = [
  {
    name: 'ControllerMapping',
    requirePath: '../controllers',
    requireAs: 'c',
    mapping: Object.keys(c).map((name) => ({
      instanceName: camelcase(name),
      className: name
    }))
  },
  {
    name: 'ResourceMapping',
    requirePath: '../db/resources',
    requireAs: 'r',
    mapping: Object.keys(r).map((name) => ({
      instanceName: name.replace(/Resource$/, ''),
      className: name
    }))
  }
].map(({name, mapping, requirePath, requireAs}) => ({
  force: true,
  mode: '444',
  path: `${name}.js`,
  data: {
    name,
    mapping,
    requirePath,
    requireAs
  }
}))

if (!module.parent) {
  require('coz').render(__filename)
}