/**
 * Bud file for mappings
 */
'use strict'

const c = require('../controllers')
const r = require('../db/resources')

const {camelcase} = require('stringcase')
const {mapping} = require('the-templates')

module.exports = [
  {
    name: 'ControllerMapping',
    requirePath: '../controllers',
    requireAs: 'c',
    mapping: Object.keys(c)
      .filter((name) => !['Ctrl'].includes(name))
      .map((name) => ({
        instanceName: camelcase(name),
        className: name
      })),
    cjs: true
  },
  {
    name: 'ResourceMapping',
    requirePath: '../db/resources',
    requireAs: 'r',
    mapping: Object.keys(r).map((name) => ({
      instanceName: name.replace(/Resource$/, ''),
      className: name
    })),
    cjs: true
  },
].map(mapping)

if (!module.parent) {
  require('coz').render(__filename)
}