{
  "app": {
    "APP_NAME": "~~~~package_name~~~~"
  },
  "buttons": {
    "DO_COUNT_UP": "Count Up",
    "DO_RELOAD": "Reload Page"
  },
  "messages": {
    "CONNECTION_SEEMS_TO_BE_LOST": "Connection lost",
    "PAGE_NOT_FOUND": "Sorry! Page not found..."
  },
  "org": {
    "ORG_EMAIL": "__email_of_your_org__",
    "ORG_HOMEPAGE": "__homepage_or_your_org__",
    "ORG_NAME": "__name_of_your_org__"
  },
  "titles": {
    "CONNECTION_RETRY_TITLE": "Server Gone"
  },
  "toasts": {
    "COUNT_UP_DID_SUCCESS": "Count Up success!"
  }
}