{
  "delay": 800,
  "execMap": {
    "js": "node --inspect=${INSPECT_PORT} --require pretty-exceptions"
  },
  "ext": "json,mjs,js,css",
  "ignore": [],
  "noColors": true,
  "verbose": false,
  "watch": [
    "server",
    "client"
  ]
}