/**
 * ~~~~package_description~~~~
 * @module ~~~~package_name~~~~
 * @version 1.0.2
 */

'use strict';

var _assign = require('babel-runtime/core-js/object/assign');

var _assign2 = _interopRequireDefault(_assign);

function _interopRequireDefault(obj) { return obj && obj.__esModule ? obj : { default: obj }; }

var define = require('./define');

var lib = define.bind(undefined);

(0, _assign2.default)(lib, define, {
  define: define
});

module.exports = lib;
//# sourceMappingURL=data:application/json;charset=utf-8;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbImluZGV4LmpzIl0sIm5hbWVzIjpbImRlZmluZSIsInJlcXVpcmUiLCJsaWIiLCJiaW5kIiwibW9kdWxlIiwiZXhwb3J0cyJdLCJtYXBwaW5ncyI6IkFBQUE7Ozs7OztBQU1BOzs7Ozs7OztBQUVBLElBQU1BLFNBQVNDLFFBQVEsVUFBUixDQUFmOztBQUVBLElBQUlDLE1BQU1GLE9BQU9HLElBQVAsV0FBVjs7QUFFQSxzQkFBY0QsR0FBZCxFQUFtQkYsTUFBbkIsRUFBMkI7QUFDekJBO0FBRHlCLENBQTNCOztBQUlBSSxPQUFPQyxPQUFQLEdBQWlCSCxHQUFqQiIsImZpbGUiOiJpbmRleC5qcyIsInNvdXJjZVJvb3QiOiJsaWIiLCJzb3VyY2VzQ29udGVudCI6WyIvKipcbiAqIERlbW8gb2YgcG9uIHRhc2tcbiAqIEBtb2R1bGUgcG9uLWRlbW8tdGFza1xuICogQHZlcnNpb24gMS4wLjJcbiAqL1xuXG4ndXNlIHN0cmljdCdcblxuY29uc3QgZGVmaW5lID0gcmVxdWlyZSgnLi9kZWZpbmUnKVxuXG5sZXQgbGliID0gZGVmaW5lLmJpbmQodGhpcylcblxuT2JqZWN0LmFzc2lnbihsaWIsIGRlZmluZSwge1xuICBkZWZpbmVcbn0pXG5cbm1vZHVsZS5leHBvcnRzID0gbGliXG4iXX0=