/**
 * {{name}}
 * @class {{name}}
 */
'use strict'

const Scene = require('./Scene')
const { Urls } = require('@self/conf')

/** @lends {{name}} */
class {{name}} extends Scene {
}

module.exports = {{name}}
